################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/C#/obj/Debug
*.suo
/Bin
/packages/WatiN.2.1.0
/.vs
/MPSC.PlenoSoft.WatiN.Extension/obj
/MPSC.PlenoSoft.WatiN.Extension.Testes.Unidade/bin/Debug
/MPSC.PlenoSoft.WatiN.Extension.Testes.Unidade/obj/Debug
/packages
